<div class="row-fluid">
	<div class="offset3 span6">
	<h5>Include this snippet in your page to display this exact quote</h5>
	<pre>	
&lt;script&gt;	    
var _quote = {
	element: document.getElementById('quote'),
	id: {{ quote.id }}
};

(function(d,t){var q=d.createElement(t),s=d.getElementsByTagName(t)[0];
q.src='//{{baseUrl}}/client.js';
q.id='_quote';
s.parentNode.insertBefore(q,s)}(document,'script'));
&lt;/script&gt;       
	</pre>
	</div>
</div>

<div class="row-fluid">	
	<div class="offset3 span6">
	<h5>Include this snippet in your page to display random quote with these tags</h5>
	<pre ng-show="quote.tags.length > 0"> 
&lt;script&gt;		 
var _quote = {
	element: document.getElementById('quote'),
	tags: '{{ tagsAsString }}'
};

(function(d,t){var q=d.createElement(t),s=d.getElementsByTagName(t)[0];
q.src='//{{baseUrl}}/client.js';
q.id='_quote';
s.parentNode.insertBefore(q,s)}(document,'script'));  
&lt;/script&gt;     
	</pre>		
	</div>
</div>	