<div ng-controller="QuoteFormCtrl">
		<button class="btn btn-primary pull-right" ng-show="!isExpanded" ng-click="showForm()">Create quote</button>
		<div class="hero-unit">
			<form novalidate name="quoteForm" role="form" class="quote-form" ng-show="isExpanded">
				<div class="form-group" ng-class="{ 'has-error': quoteForm.what.$invalid && quoteForm.what.$dirty}">
					<label class="control-label">What:</label>
					<textarea class="form-control" rows = "5" data-ng-model="quote.what" name="what" required placeholder="The quote"></textarea>
				</div>			
				<div class="form-group" ng-class="{ 'has-error': quoteForm.who.$invalid && quoteForm.who.$dirty }">			
					<label class="control-label">Who:</label>
					<input type="text" class="form-control" data-ng-model="quote.who" name="who" required placeholder="Who is the author of the quote?" />
				</div>
				<div class="form-group">
					<label class="control-label">When:</label>
					<input type="text" class="form-control" bs-datepicker data-ng-model="quote.when" name="when" placeholder="When it was said?" />
				</div>				
				<div class="form-group">
					<label>Tags:</label>
 					<input class="tags form-control" type="text" tagsmanager tags="quote.tags" placeholder="pretentious, funny, deep" />
				</div>
				<button class="btn" ng-click="cancel()">Cancel</button>
				<button class="btn btn-large btn-primary" type="button" ng-hide="quote.id" data-ng-click="addQuote()"
					data-ng-disabled="quoteForm.$invalid">Add quote</button>
				<button class="btn btn-large btn-primary" type="button" ng-show="quote.id" data-ng-click="updateQuote()"
					data-ng-disabled="quoteForm.$invalid">Save quote</button>							
			</form>
		</div>		
</div>
