<div ng-controller="WidgetsCtrl" class="widget-list">
	<div class="row" ng-hide="widgets.length > 0">
		<h2>List of widgets is empty. Go ahead and create one!</h2>
	</div>
	<div class="row" ng-repeat="widget in widgets">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12" >
					<div class="widget">
						<strong>{{widget.name}}</strong> <br />
						<span ng-show="widget.type == 'IDS'">{{widget.quoteIds.length}} quotes</span>
						<span ng-show="widget.type == 'TAGS'">{{widget.tags.length}} tags</span>
						<div class="buttons">
							<span ng-click="toggleExpand(widget.id)" class="icon-button glyphicon" 
							ng-class="{'glyphicon-expand': !isExpanded(widget.id), 'glyphicon-collapse-up': isExpanded(widget.id)}"></span>
							<span ng-click="edit(widget)" class="icon-button glyphicon glyphicon-edit"></span>
							<span ng-click="remove(widget.id)" class="icon-button glyphicon glyphicon-remove"></span>
						</div>						
					</div>
				</div>		
			</div>
			<div class="row" ng-show="isExpanded(widget.id)">
				<div class="col-md-12">
					<div class="well well-sm">
						<h4>Image</h4>
						<ul class="nav nav-pills">
						  <li ng-class="{active: getWidgetView('image') == 'preview'}"><a href="#" ng-click="setWidgetView('image', 'preview'); updateConfigs(widget)">Preview</a></li>
						  <li ng-class="{active: getWidgetView('image') == 'config'}"><a href="#" ng-click="setWidgetView('image', 'config')">Config</a></li>
						  <li ng-class="{active: getWidgetView('image') == 'code'}"><a href="#" ng-click="setWidgetView('image', 'code')">Code</a></li>
						</ul>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12" ng-show="getWidgetView('image') == 'preview'">
										<img ng-src="/resource/public/widget/{{widget.id}}/image/w/{{editConfigs[widget.id].image_width}}/h/{{editConfigs[widget.id].image_height}}" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" ng-show="getWidgetView('image') == 'config'">
										<form role="form" name="imageForm">
											<div class="form-group" ng-class="{ 'has-error': imageForm.width.$invalid && imageForm.width.$dirty }">
												<label class="control-label">Width:</label> <br/>
												<input type="text" class="form-control" data-ng-model="editConfigs[widget.id].image_width" name="width" 
													required type="number" ng-minlength="2" />
											</div>		
											<div class="form-group" ng-class="{ 'has-error': imageForm.height.$invalid && imageForm.height.$dirty }">
												<label class="control-label">Height:</label> <br/>
												<input type="text" class="form-control" data-ng-model="editConfigs[widget.id].image_height" name="height" 
													required type="number" ng-minlength="2" />
											</div>															
										</form>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" ng-show="getWidgetView('image') == 'code'">
<textarea class="form-control">
&lt;img src="{{baseUrl}}/resource/public/widget/{{widget.id}}/image/w/{{widget.configs.image_width}}/h/{{widget.configs.image_height}}" /&gt;
</textarea>
									</div>
								</div>
							</div>
						</div>					
					</div>					
				</div>
				<div class="col-md-12">
					<div class="well well-sm">
						<h4>IFrame</h4>
						<ul class="nav nav-pills">
						  <li ng-class="{active: getWidgetView('iframe') == 'preview'}"><a href="#" ng-click="setWidgetView('iframe', 'preview'); updateConfigs(widget)">Preview</a></li>
						  <li ng-class="{active: getWidgetView('iframe') == 'config'}"><a href="#" ng-click="setWidgetView('iframe', 'config')">Config</a></li>
						  <li ng-class="{active: getWidgetView('iframe') == 'code'}"><a href="#" ng-click="setWidgetView('iframe', 'code')">Code</a></li>
						</ul>
						<div class="row">
							<div class="col-md-12" ng-show="getWidgetView('iframe') == 'preview'">
								<iframe ng-src="{{getIframeUrl(widget)}}"
								        style="border: 0; width:{{editConfigs[widget.id].iframe_width}}px; height:{{editConfigs[widget.id].iframe_height}}px;"></iframe>
							</div>
							<div class="col-md-12" ng-show="getWidgetView('iframe') == 'config'">
								<form role="form" name="iframeForm">
									<div class="form-group" ng-class="{ 'has-error': iframeForm.width.$invalid && iframeForm.width.$dirty }">
										<label class="control-label">Width:</label> <br/>
										<input type="text" class="form-control" data-ng-model="editConfigs[widget.id].iframe_width" name="width" 
											required type="number" ng-minlength="2" />
									</div>		
									<div class="form-group" ng-class="{ 'has-error': iframeForm.height.$invalid && iframeForm.height.$dirty }">
										<label class="control-label">Height:</label> <br/>
										<input type="text" class="form-control" data-ng-model="editConfigs[widget.id].iframe_height" name="height" 
											required type="number" ng-minlength="2" />
									</div>
									<div class="form-group" ng-class="{ 'has-error': iframeForm.css.$invalid && iframeForm.css.$dirty}">
										<label class="control-label">CSS:</label>
										<textarea class="form-control" rows = "5" data-ng-model="editConfigs[widget.id].iframe_css" name="css" required></textarea>
									</div>																							
								</form>						
							</div>
							<div class="col-md-12" ng-show="getWidgetView('iframe') == 'code'">
<textarea class="form-control">
&lt;iframe src="{{baseUrl}}{{getIframeUrl(widget)}}"
style="border: 0; width:{{widget.configs.iframe_width}}px; height:{{widget.configs.iframe_height}}px;"&gt;&lt;/iframe&gt;
</textarea>
							</div>
						</div>
					</div>
				</div>
		</div>	
	</div>		
</div>